body {
    font-family: Arial, sans-serif;
    background-color: #e0e7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}

.container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    max-width: 800px;
    width: 100%;
}

.image-section {
    background-color: #e0e7ff;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.image-section img {
    max-width: 100%;
    border-radius: 8px;
}

.login-section {
    flex: 1;
    padding: 40px;
}

.login-section h2 {
    margin-top: 0;
    color: #2b2b2b;
}

.login-section p {
    color: #666;
}

.login-section form {
    display: flex;
    flex-direction: column;
}

.login-section input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-section button {
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-section button:hover {
    background-color: #0056b3;
}

.social-login {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.social-login button {
    margin-top: 10px;
    padding: 10px;
    background-color: #ffffff;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.social-login button:hover {
    background-color: #f0f0f0;
}

.register-link {
    margin-top: 20px;
    color: #666;
}

.register-link a {
    color: #007bff;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

.form-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.form-container h2 {
    margin-top: 0;
    color: #2b2b2b;
}

.form-container form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form-container label {
    margin-bottom: 5px;
    color: #666;
}

.form-container input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container button {
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #0056b3;
}

.return-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
}

.return-link:hover {
    background-color: #0056b3;
}
